html {
  --text-color: #1a162e;
  --icon-filter: brightness(0) saturate(100%) invert(3%) sepia(50%)
    saturate(7380%) hue-rotate(253deg) brightness(79%) contrast(86%);

  --header-bg-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow-color: rgba(237, 237, 246, 0.2);
  --top-act-group-separate-color: #ededf6;
  --top-act-group-shadow-avt-color: rgba(0, 0, 0, 0.08);
}
