*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, "san-serif";
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

button,
textarea,
input,
select {
  font-family: inherit;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  filter: var(--icon-filter);
}

.icon-logo {
  filter: brightness(0) saturate(100%) invert(98%) sepia(85%) saturate(7056%)
    hue-rotate(156deg) brightness(95%) contrast(90%);
}

a {
  text-decoration: none;
  color: inherit;
}
