*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --text-color: #1a162e;
  --icon-filter: brightness(0) saturate(100%) invert(3%) sepia(50%)
    saturate(7380%) hue-rotate(253deg) brightness(79%) contrast(86%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, "san-serif";
  color: var(--text-color);
}

button,
textarea,
input,
select {
  font-family: inherit;
  color: inherit;
}

.icon {
  filter: var(--icon-filter);
}

a {
  text-decoration: none;
  color: inherit;
}
